<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Flask Web App</title>
  </head>
  <body>
    <h1>Welcome to Flask!</h1>

    <div style="margin-top: 2rem">
      <img
        src="/static/Flask_logo.png"
        alt="flask_logo"
        style="width: 300px; height: auto"
      />
    </div>

    <button id="alertBtn">Click Me</button>
    <button id="aboutBtn">About</button>

    <div>
      <input type="file" name="file" id="fileInput" />
      <img id="preview" style="max-width: 200px; display: block" />
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
